= form_for @post do |f|
  = f.label :title
  = f.text_field :title, class: 'form-control'

  = f.label :content
  = f.text_area :content, rows: 15, class: 'form-control'

  = f.submit "Post!", class: 'btn btn-primary'
