= form_for @post, html: { multipart: true } do |f|
  = render 'shared/error_messages', object: f.object

  = f.label :title
  = f.text_field :title, class: 'form-control'

  = f.label :content
  = f.text_area :content, rows: 15, class: 'form-control'

  = f.label :category_ids, 'Categories'
  = f.select :category_ids, Category.order(:name).map { |c| [c.name, c.id] },
    { prompt: 'Select categories' }, { multiple: true, class: 'form-control' }
  %br

  -if @post.image?
    = image_tag @post.image.url(:medium)
    %br

  = f.label :image, 'Upload an image'
  = f.file_field :image
  - if action_name == 'edit' && @post.image?
    = f.check_box :remove_image
    = f.label :remove_image, 'Remove image'
    %br

  = f.label :published_at, 'Schedule post publication' + current_schedule(@post)
  = f.select :published_at, schedule, { prompt: 'Select date' }, { class: 'form-control' }

  = f.check_box :publish, checked: true
  = f.label :publish, 'Publish!'
  %br

  = f.submit "Post!", class: 'btn btn-primary'
